*{
    font-family: 'Karla', sans-serif;
}
.container{
    margin: 0%;
    padding: 0%;
}

#testeCircle{
    width: 15%;
}

.img-logo{
    width: 23%;
    height: 7vh;
}

.img-bgPageUser{
    width: 100%;
}

#imgPerfil{
    width: 40%;
    margin-top: -25%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.conteudo{
    margin: 0% 5%;
}

.font-bold{
    font-weight: bold;
    margin: 0%;
}

.size-text{
    font-size: 1rem;
}

.iconBoxUser{
    width: 100%;
    padding: 10%;
    border-radius: 50%;
    margin-bottom: 50%;
    margin-top: 15%;
}

.itemPerfil{
    margin-top: 5%;
    width: 20%;
}

.boxItenUser{
    margin-left: 5%;
}

.marginSmall{
    padding: 5% 0% 0% 0%;
}